In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
import pandas as pd 
from pandas.api.types import is_string_dtype

In [3]:
#df = pd.DataFrame({"A": ["a", "b", "NaN", "a"]})
PATH = "data/bulldozers/"
df_raw = pd.read_csv(f'{PATH}Train.csv', low_memory=False, 
                     parse_dates=["saledate"])

In [4]:
#from .imports import *
import numpy as np
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.impute._base import SimpleImputer as Imputer
from pandas.api.types import is_string_dtype, is_numeric_dtype, is_categorical_dtype
from sklearn.ensemble import forest
from sklearn.tree import export_graphviz

def set_plot_sizes(sml, med, big):
    plt.rc('font', size=sml)          # controls default text sizes
    plt.rc('axes', titlesize=sml)     # fontsize of the axes title
    plt.rc('axes', labelsize=med)    # fontsize of the x and y labels
    plt.rc('xtick', labelsize=sml)    # fontsize of the tick labels
    plt.rc('ytick', labelsize=sml)    # fontsize of the tick labels
    plt.rc('legend', fontsize=sml)    # legend fontsize
    plt.rc('figure', titlesize=big)  # fontsize of the figure title

def parallel_trees(m, fn, n_jobs=8):
        return list(ProcessPoolExecutor(n_jobs).map(fn, m.estimators_))

def draw_tree(t, df, size=10, ratio=0.6, precision=0):
    """ Draws a representation of a random forest in IPython.
    Parameters:
    -----------
    t: The tree you wish to draw
    df: The data used to train the tree. This is used to get the names of the features.
    """
    s=export_graphviz(t, out_file=None, feature_names=df.columns, filled=True,
                      special_characters=True, rotate=True, precision=precision)
    IPython.display.display(graphviz.Source(re.sub('Tree {',
       f'Tree {{ size={size}; ratio={ratio}', s)))

def combine_date(years, months=1, days=1, weeks=None, hours=None, minutes=None,
              seconds=None, milliseconds=None, microseconds=None, nanoseconds=None):
    years = np.asarray(years) - 1970
    months = np.asarray(months) - 1
    days = np.asarray(days) - 1
    types = ('<M8[Y]', '<m8[M]', '<m8[D]', '<m8[W]', '<m8[h]',
             '<m8[m]', '<m8[s]', '<m8[ms]', '<m8[us]', '<m8[ns]')
    vals = (years, months, days, weeks, hours, minutes, seconds,
            milliseconds, microseconds, nanoseconds)
    return sum(np.asarray(v, dtype=t) for t, v in zip(types, vals)
               if v is not None)

def get_sample(df,n):
    """ Gets a random sample of n rows from df, without replacement.
    Parameters:
    -----------
    df: A pandas data frame, that you wish to sample from.
    n: The number of rows you wish to sample.
    Returns:
    --------
    return value: A random sample of n rows of df.
    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    >>> get_sample(df, 2)
       col1 col2
    1     2    b
    2     3    a
    """
    idxs = sorted(np.random.permutation(len(df))[:n])
    return df.iloc[idxs].copy()

def add_datepart(df, fldnames, drop=True, time=False, errors="raise"):  
    """add_datepart converts a column of df from a datetime64 to many columns containing
    the information from the date. This applies changes inplace.
    Parameters:
    -----------
    df: A pandas data frame. df gain several new columns.
    fldname: A string or list of strings that is the name of the date column you wish to expand.
        If it is not a datetime64 series, it will be converted to one with pd.to_datetime.
    drop: If true then the original date column will be removed.
    time: If true time features: Hour, Minute, Second will be added.
    Examples:
    ---------
    >>> df = pd.DataFrame({ 'A' : pd.to_datetime(['3/11/2000', '3/12/2000', '3/13/2000'], infer_datetime_format=False) })
    >>> df
        A
    0   2000-03-11
    1   2000-03-12
    2   2000-03-13
    >>> add_datepart(df, 'A')
    >>> df
        AYear AMonth AWeek ADay ADayofweek ADayofyear AIs_month_end AIs_month_start AIs_quarter_end AIs_quarter_start AIs_year_end AIs_year_start AElapsed
    0   2000  3      10    11   5          71         False         False           False           False             False        False          952732800
    1   2000  3      10    12   6          72         False         False           False           False             False        False          952819200
    2   2000  3      11    13   0          73         False         False           False           False             False        False          952905600
    >>>df2 = pd.DataFrame({'start_date' : pd.to_datetime(['3/11/2000','3/13/2000','3/15/2000']),
                            'end_date':pd.to_datetime(['3/17/2000','3/18/2000','4/1/2000'],infer_datetime_format=True)})
    >>>df2
        start_date  end_date    
    0   2000-03-11  2000-03-17
    1   2000-03-13  2000-03-18
    2   2000-03-15  2000-04-01
    >>>add_datepart(df2,['start_date','end_date'])
    >>>df2
        start_Year  start_Month start_Week  start_Day   start_Dayofweek start_Dayofyear start_Is_month_end  start_Is_month_start    start_Is_quarter_end    start_Is_quarter_start  start_Is_year_end   start_Is_year_start start_Elapsed   end_Year    end_Month   end_Week    end_Day end_Dayofweek   end_Dayofyear   end_Is_month_end    end_Is_month_start  end_Is_quarter_end  end_Is_quarter_start    end_Is_year_end end_Is_year_start   end_Elapsed
    0   2000        3           10          11          5               71              False               False                   False                   False                   False               False               952732800       2000        3           11          17      4               77              False               False               False               False                   False           False               953251200
    1   2000        3           11          13          0               73              False               False                   False                   False                   False               False               952905600       2000        3           11          18      5               78              False               False               False               False                   False           False               953337600
    2   2000        3           11          15          2               75              False               False                   False                   False                   False               False               953078400       2000        4           13          1       5               92              False               True                False               True                    False           False               954547200
    """
    if isinstance(fldnames,str): 
        fldnames = [fldnames]
    for fldname in fldnames:
        fld = df[fldname]
        fld_dtype = fld.dtype
        if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
            fld_dtype = np.datetime64

        if not np.issubdtype(fld_dtype, np.datetime64):
            df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True, errors=errors)
        targ_pre = re.sub('[Dd]ate$', '', fldname)
        attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
                'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
        if time: attr = attr + ['Hour', 'Minute', 'Second']
        for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
        df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
        if drop: df.drop(fldname, axis=1, inplace=True)

def is_date(x): return np.issubdtype(x.dtype, np.datetime64)

def train_cats(df):
    """Change any columns of strings in a panda's dataframe to a column of
    categorical values. This applies the changes inplace.
    Parameters:
    -----------
    df: A pandas dataframe. Any columns of strings will be changed to
        categorical values.
    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    note the type of col2 is string
    >>> train_cats(df)
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    now the type of col2 is category
    """
    for n,c in df.items():
        if is_string_dtype(c): df[n] = c.astype('category').cat.as_ordered()

def apply_cats(df, trn):
    """Changes any columns of strings in df into categorical variables using trn as
    a template for the category codes.
    Parameters:
    -----------
    df: A pandas dataframe. Any columns of strings will be changed to
        categorical values. The category codes are determined by trn.
    trn: A pandas dataframe. When creating a category for df, it looks up the
        what the category's code were in trn and makes those the category codes
        for df.
    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    note the type of col2 is string
    >>> train_cats(df)
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    now the type of col2 is category {a : 1, b : 2}
    >>> df2 = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['b', 'a', 'a']})
    >>> apply_cats(df2, df)
           col1 col2
        0     1    b
        1     2    a
        2     3    a
    now the type of col is category {a : 1, b : 2}
    """
    for n,c in df.items():
        if (n in trn.columns) and (trn[n].dtype.name=='category'):
            df[n] = c.astype('category').cat.as_ordered()
            df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)

def fix_missing(df, col, name, na_dict):
    """ Fill missing data in a column of df with the median, and add a {name}_na column
    which specifies if the data was missing.
    Parameters:
    -----------
    df: The data frame that will be changed.
    col: The column of data to fix by filling in missing data.
    name: The name of the new filled column in df.
    na_dict: A dictionary of values to create na's of and the value to insert. If
        name is not a key of na_dict the median will fill any missing data. Also
        if name is not a key of na_dict and there is no missing data in col, then
        no {name}_na column is not created.
    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, np.NaN, 3], 'col2' : [5, 2, 2]})
    >>> df
       col1 col2
    0     1    5
    1   nan    2
    2     3    2
    >>> fix_missing(df, df['col1'], 'col1', {})
    >>> df
       col1 col2 col1_na
    0     1    5   False
    1     2    2    True
    2     3    2   False
    >>> df = pd.DataFrame({'col1' : [1, np.NaN, 3], 'col2' : [5, 2, 2]})
    >>> df
       col1 col2
    0     1    5
    1   nan    2
    2     3    2
    >>> fix_missing(df, df['col2'], 'col2', {})
    >>> df
       col1 col2
    0     1    5
    1   nan    2
    2     3    2
    >>> df = pd.DataFrame({'col1' : [1, np.NaN, 3], 'col2' : [5, 2, 2]})
    >>> df
       col1 col2
    0     1    5
    1   nan    2
    2     3    2
    >>> fix_missing(df, df['col1'], 'col1', {'col1' : 500})
    >>> df
       col1 col2 col1_na
    0     1    5   False
    1   500    2    True
    2     3    2   False
    """
    if is_numeric_dtype(col):
        if pd.isnull(col).sum() or (name in na_dict):
            df[name+'_na'] = pd.isnull(col)
            filler = na_dict[name] if name in na_dict else col.median()
            df[name] = col.fillna(filler)
            na_dict[name] = filler
    return na_dict

def numericalize(df, col, name, max_n_cat):
    """ Changes the column col from a categorical type to it's integer codes.
    Parameters:
    -----------
    df: A pandas dataframe. df[name] will be filled with the integer codes from
        col.
    col: The column you wish to change into the categories.
    name: The column name you wish to insert into df. This column will hold the
        integer codes.
    max_n_cat: If col has more categories than max_n_cat it will not change the
        it to its integer codes. If max_n_cat is None, then col will always be
        converted.
    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    note the type of col2 is string
    >>> train_cats(df)
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    now the type of col2 is category { a : 1, b : 2}
    >>> numericalize(df, df['col2'], 'col3', None)
       col1 col2 col3
    0     1    a    1
    1     2    b    2
    2     3    a    1
    """
    if not is_numeric_dtype(col) and ( max_n_cat is None or len(col.cat.categories)>max_n_cat):
        df[name] = pd.Categorical(col).codes+1

def scale_vars(df, mapper):
    warnings.filterwarnings('ignore', category=sklearn.exceptions.DataConversionWarning)
    if mapper is None:
        map_f = [([n],StandardScaler()) for n in df.columns if is_numeric_dtype(df[n])]
        mapper = DataFrameMapper(map_f).fit(df)
    df[mapper.transformed_names_] = mapper.transform(df)
    return mapper

def proc_df(df, y_fld=None, skip_flds=None, ignore_flds=None, do_scale=False, na_dict=None,
            preproc_fn=None, max_n_cat=None, subset=None, mapper=None):
    """ proc_df takes a data frame df and splits off the response variable, and
    changes the df into an entirely numeric dataframe. For each column of df 
    which is not in skip_flds nor in ignore_flds, na values are replaced by the
    median value of the column.
    Parameters:
    -----------
    df: The data frame you wish to process.
    y_fld: The name of the response variable
    skip_flds: A list of fields that dropped from df.
    ignore_flds: A list of fields that are ignored during processing.
    do_scale: Standardizes each column in df. Takes Boolean Values(True,False)
    na_dict: a dictionary of na columns to add. Na columns are also added if there
        are any missing values.
    preproc_fn: A function that gets applied to df.
    max_n_cat: The maximum number of categories to break into dummy values, instead
        of integer codes.
    subset: Takes a random subset of size subset from df.
    mapper: If do_scale is set as True, the mapper variable
        calculates the values used for scaling of variables during training time (mean and standard deviation).
    Returns:
    --------
    [x, y, nas, mapper(optional)]:
        x: x is the transformed version of df. x will not have the response variable
            and is entirely numeric.
        y: y is the response variable
        nas: returns a dictionary of which nas it created, and the associated median.
        mapper: A DataFrameMapper which stores the mean and standard deviation of the corresponding continuous
        variables which is then used for scaling of during test-time.
    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    note the type of col2 is string
    >>> train_cats(df)
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    now the type of col2 is category { a : 1, b : 2}
    >>> x, y, nas = proc_df(df, 'col1')
    >>> x
       col2
    0     1
    1     2
    2     1
    >>> data = DataFrame(pet=["cat", "dog", "dog", "fish", "cat", "dog", "cat", "fish"],
                 children=[4., 6, 3, 3, 2, 3, 5, 4],
                 salary=[90, 24, 44, 27, 32, 59, 36, 27])
    >>> mapper = DataFrameMapper([(:pet, LabelBinarizer()),
                          ([:children], StandardScaler())])
    >>>round(fit_transform!(mapper, copy(data)), 2)
    8x4 Array{Float64,2}:
    1.0  0.0  0.0   0.21
    0.0  1.0  0.0   1.88
    0.0  1.0  0.0  -0.63
    0.0  0.0  1.0  -0.63
    1.0  0.0  0.0  -1.46
    0.0  1.0  0.0  -0.63
    1.0  0.0  0.0   1.04
    0.0  0.0  1.0   0.21
    """
    if not ignore_flds: ignore_flds=[]
    if not skip_flds: skip_flds=[]
    if subset: df = get_sample(df,subset)
    else: df = df.copy()
    ignored_flds = df.loc[:, ignore_flds]
    df.drop(ignore_flds, axis=1, inplace=True)
    if preproc_fn: preproc_fn(df)
    if y_fld is None: y = None
    else:
        if not is_numeric_dtype(df[y_fld]): df[y_fld] = pd.Categorical(df[y_fld]).codes
        y = df[y_fld].values
        skip_flds += [y_fld]
    df.drop(skip_flds, axis=1, inplace=True)

    if na_dict is None: na_dict = {}
    else: na_dict = na_dict.copy()
    na_dict_initial = na_dict.copy()
    for n,c in df.items(): na_dict = fix_missing(df, c, n, na_dict)
    if len(na_dict_initial.keys()) > 0:
        df.drop([a + '_na' for a in list(set(na_dict.keys()) - set(na_dict_initial.keys()))], axis=1, inplace=True)
    if do_scale: mapper = scale_vars(df, mapper)
    for n,c in df.items(): numericalize(df, c, n, max_n_cat)
    df = pd.get_dummies(df, dummy_na=True)
    df = pd.concat([ignored_flds, df], axis=1)
    res = [df, y, na_dict]
    if do_scale: res = res + [mapper]
    return res

def rf_feat_importance(m, df):
    return pd.DataFrame({'cols':df.columns, 'imp':m.feature_importances_}
                       ).sort_values('imp', ascending=False)

def set_rf_samples(n):
    """ Changes Scikit learn's random forests to give each tree a random sample of
    n random rows.
    """
    forest._generate_sample_indices = (lambda rs, n_samples:
        forest.check_random_state(rs).randint(0, n_samples, n))

def reset_rf_samples():
    """ Undoes the changes produced by set_rf_samples.
    """
    forest._generate_sample_indices = (lambda rs, n_samples:
        forest.check_random_state(rs).randint(0, n_samples, n_samples))

def get_nn_mappers(df, cat_vars, contin_vars):
    # Replace nulls with 0 for continuous, "" for categorical.
    for v in contin_vars: df[v] = df[v].fillna(df[v].max()+100,)
    for v in cat_vars: df[v].fillna('#NA#', inplace=True)

    # list of tuples, containing variable and instance of a transformer for that variable
    # for categoricals, use LabelEncoder to map to integers. For continuous, standardize
    cat_maps = [(o, LabelEncoder()) for o in cat_vars]
    contin_maps = [([o], StandardScaler()) for o in contin_vars]
#from .imports import *
import numpy
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.impute._base import SimpleImputer as Imputer
from pandas.api.types import is_string_dtype, is_numeric_dtype, is_categorical_dtype
from sklearn.ensemble import forest
from sklearn.tree import export_graphviz

def set_plot_sizes(sml, med, big):
    plt.rc('font', size=sml)          # controls default text sizes
    plt.rc('axes', titlesize=sml)     # fontsize of the axes title
    plt.rc('axes', labelsize=med)    # fontsize of the x and y labels
    plt.rc('xtick', labelsize=sml)    # fontsize of the tick labels
    plt.rc('ytick', labelsize=sml)    # fontsize of the tick labels
    plt.rc('legend', fontsize=sml)    # legend fontsize
    plt.rc('figure', titlesize=big)  # fontsize of the figure title

def parallel_trees(m, fn, n_jobs=8):
        return list(ProcessPoolExecutor(n_jobs).map(fn, m.estimators_))

def draw_tree(t, df, size=10, ratio=0.6, precision=0):
    """ Draws a representation of a random forest in IPython.
    Parameters:
    -----------
    t: The tree you wish to draw
    df: The data used to train the tree. This is used to get the names of the features.
    """
    s=export_graphviz(t, out_file=None, feature_names=df.columns, filled=True,
                      special_characters=True, rotate=True, precision=precision)
    IPython.display.display(graphviz.Source(re.sub('Tree {',
       f'Tree {{ size={size}; ratio={ratio}', s)))

def combine_date(years, months=1, days=1, weeks=None, hours=None, minutes=None,
              seconds=None, milliseconds=None, microseconds=None, nanoseconds=None):
    years = np.asarray(years) - 1970
    months = np.asarray(months) - 1
    days = np.asarray(days) - 1
    types = ('<M8[Y]', '<m8[M]', '<m8[D]', '<m8[W]', '<m8[h]',
             '<m8[m]', '<m8[s]', '<m8[ms]', '<m8[us]', '<m8[ns]')
    vals = (years, months, days, weeks, hours, minutes, seconds,
            milliseconds, microseconds, nanoseconds)
    return sum(np.asarray(v, dtype=t) for t, v in zip(types, vals)
               if v is not None)

def get_sample(df,n):
    """ Gets a random sample of n rows from df, without replacement.
    Parameters:
    -----------
    df: A pandas data frame, that you wish to sample from.
    n: The number of rows you wish to sample.
    Returns:
    --------
    return value: A random sample of n rows of df.
    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    >>> get_sample(df, 2)
       col1 col2
    1     2    b
    2     3    a
    """
    idxs = sorted(np.random.permutation(len(df))[:n])
    return df.iloc[idxs].copy()

def add_datepart(df, fldnames, drop=True, time=False, errors="raise"):  
    """add_datepart converts a column of df from a datetime64 to many columns containing
    the information from the date. This applies changes inplace.
    Parameters:
    -----------
    df: A pandas data frame. df gain several new columns.
    fldname: A string or list of strings that is the name of the date column you wish to expand.
        If it is not a datetime64 series, it will be converted to one with pd.to_datetime.
    drop: If true then the original date column will be removed.
    time: If true time features: Hour, Minute, Second will be added.
    Examples:
    ---------
    >>> df = pd.DataFrame({ 'A' : pd.to_datetime(['3/11/2000', '3/12/2000', '3/13/2000'], infer_datetime_format=False) })
    >>> df
        A
    0   2000-03-11
    1   2000-03-12
    2   2000-03-13
    >>> add_datepart(df, 'A')
    >>> df
        AYear AMonth AWeek ADay ADayofweek ADayofyear AIs_month_end AIs_month_start AIs_quarter_end AIs_quarter_start AIs_year_end AIs_year_start AElapsed
    0   2000  3      10    11   5          71         False         False           False           False             False        False          952732800
    1   2000  3      10    12   6          72         False         False           False           False             False        False          952819200
    2   2000  3      11    13   0          73         False         False           False           False             False        False          952905600
    >>>df2 = pd.DataFrame({'start_date' : pd.to_datetime(['3/11/2000','3/13/2000','3/15/2000']),
                            'end_date':pd.to_datetime(['3/17/2000','3/18/2000','4/1/2000'],infer_datetime_format=True)})
    >>>df2
        start_date  end_date    
    0   2000-03-11  2000-03-17
    1   2000-03-13  2000-03-18
    2   2000-03-15  2000-04-01
    >>>add_datepart(df2,['start_date','end_date'])
    >>>df2
        start_Year  start_Month start_Week  start_Day   start_Dayofweek start_Dayofyear start_Is_month_end  start_Is_month_start    start_Is_quarter_end    start_Is_quarter_start  start_Is_year_end   start_Is_year_start start_Elapsed   end_Year    end_Month   end_Week    end_Day end_Dayofweek   end_Dayofyear   end_Is_month_end    end_Is_month_start  end_Is_quarter_end  end_Is_quarter_start    end_Is_year_end end_Is_year_start   end_Elapsed
    0   2000        3           10          11          5               71              False               False                   False                   False                   False               False               952732800       2000        3           11          17      4               77              False               False               False               False                   False           False               953251200
    1   2000        3           11          13          0               73              False               False                   False                   False                   False               False               952905600       2000        3           11          18      5               78              False               False               False               False                   False           False               953337600
    2   2000        3           11          15          2               75              False               False                   False                   False                   False               False               953078400       2000        4           13          1       5               92              False               True                False               True                    False           False               954547200
    """
    if isinstance(fldnames,str): 
        fldnames = [fldnames]
    for fldname in fldnames:
        fld = df[fldname]
        fld_dtype = fld.dtype
        if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
            fld_dtype = np.datetime64

        if not np.issubdtype(fld_dtype, np.datetime64):
            df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True, errors=errors)
        targ_pre = re.sub('[Dd]ate$', '', fldname)
        attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
                'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
        if time: attr = attr + ['Hour', 'Minute', 'Second']
        for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
        df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
        if drop: df.drop(fldname, axis=1, inplace=True)

def is_date(x): return np.issubdtype(x.dtype, np.datetime64)

def train_cats(df):
    """Change any columns of strings in a panda's dataframe to a column of
    categorical values. This applies the changes inplace.
    Parameters:
    -----------
    df: A pandas dataframe. Any columns of strings will be changed to
        categorical values.
    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    note the type of col2 is string
    >>> train_cats(df)
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    now the type of col2 is category
    """
    for n,c in df.items():
        if is_string_dtype(c): df[n] = c.astype('category').cat.as_ordered()

def apply_cats(df, trn):
    """Changes any columns of strings in df into categorical variables using trn as
    a template for the category codes.
    Parameters:
    -----------
    df: A pandas dataframe. Any columns of strings will be changed to
        categorical values. The category codes are determined by trn.
    trn: A pandas dataframe. When creating a category for df, it looks up the
        what the category's code were in trn and makes those the category codes
        for df.
    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    note the type of col2 is string
    >>> train_cats(df)
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    now the type of col2 is category {a : 1, b : 2}
    >>> df2 = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['b', 'a', 'a']})
    >>> apply_cats(df2, df)
           col1 col2
        0     1    b
        1     2    a
        2     3    a
    now the type of col is category {a : 1, b : 2}
    """
    for n,c in df.items():
        if (n in trn.columns) and (trn[n].dtype.name=='category'):
            df[n] = c.astype('category').cat.as_ordered()
            df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)

def fix_missing(df, col, name, na_dict):
    """ Fill missing data in a column of df with the median, and add a {name}_na column
    which specifies if the data was missing.
    Parameters:
    -----------
    df: The data frame that will be changed.
    col: The column of data to fix by filling in missing data.
    name: The name of the new filled column in df.
    na_dict: A dictionary of values to create na's of and the value to insert. If
        name is not a key of na_dict the median will fill any missing data. Also
        if name is not a key of na_dict and there is no missing data in col, then
        no {name}_na column is not created.
    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, np.NaN, 3], 'col2' : [5, 2, 2]})
    >>> df
       col1 col2
    0     1    5
    1   nan    2
    2     3    2
    >>> fix_missing(df, df['col1'], 'col1', {})
    >>> df
       col1 col2 col1_na
    0     1    5   False
    1     2    2    True
    2     3    2   False
    >>> df = pd.DataFrame({'col1' : [1, np.NaN, 3], 'col2' : [5, 2, 2]})
    >>> df
       col1 col2
    0     1    5
    1   nan    2
    2     3    2
    >>> fix_missing(df, df['col2'], 'col2', {})
    >>> df
       col1 col2
    0     1    5
    1   nan    2
    2     3    2
    >>> df = pd.DataFrame({'col1' : [1, np.NaN, 3], 'col2' : [5, 2, 2]})
    >>> df
       col1 col2
    0     1    5
    1   nan    2
    2     3    2
    >>> fix_missing(df, df['col1'], 'col1', {'col1' : 500})
    >>> df
       col1 col2 col1_na
    0     1    5   False
    1   500    2    True
    2     3    2   False
    """
    if is_numeric_dtype(col):
        if pd.isnull(col).sum() or (name in na_dict):
            df[name+'_na'] = pd.isnull(col)
            filler = na_dict[name] if name in na_dict else col.median()
            df[name] = col.fillna(filler)
            na_dict[name] = filler
    return na_dict

def numericalize(df, col, name, max_n_cat):
    """ Changes the column col from a categorical type to it's integer codes.
    Parameters:
    -----------
    df: A pandas dataframe. df[name] will be filled with the integer codes from
        col.
    col: The column you wish to change into the categories.
    name: The column name you wish to insert into df. This column will hold the
        integer codes.
    max_n_cat: If col has more categories than max_n_cat it will not change the
        it to its integer codes. If max_n_cat is None, then col will always be
        converted.
    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    note the type of col2 is string
    >>> train_cats(df)
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    now the type of col2 is category { a : 1, b : 2}
    >>> numericalize(df, df['col2'], 'col3', None)
       col1 col2 col3
    0     1    a    1
    1     2    b    2
    2     3    a    1
    """
    if not is_numeric_dtype(col) and ( max_n_cat is None or len(col.cat.categories)>max_n_cat):
        df[name] = pd.Categorical(col).codes+1

def scale_vars(df, mapper):
    warnings.filterwarnings('ignore', category=sklearn.exceptions.DataConversionWarning)
    if mapper is None:
        map_f = [([n],StandardScaler()) for n in df.columns if is_numeric_dtype(df[n])]
        mapper = DataFrameMapper(map_f).fit(df)
    df[mapper.transformed_names_] = mapper.transform(df)
    return mapper

def proc_df(df, y_fld=None, skip_flds=None, ignore_flds=None, do_scale=False, na_dict=None,
            preproc_fn=None, max_n_cat=None, subset=None, mapper=None):
    """ proc_df takes a data frame df and splits off the response variable, and
    changes the df into an entirely numeric dataframe. For each column of df 
    which is not in skip_flds nor in ignore_flds, na values are replaced by the
    median value of the column.
    Parameters:
    -----------
    df: The data frame you wish to process.
    y_fld: The name of the response variable
    skip_flds: A list of fields that dropped from df.
    ignore_flds: A list of fields that are ignored during processing.
    do_scale: Standardizes each column in df. Takes Boolean Values(True,False)
    na_dict: a dictionary of na columns to add. Na columns are also added if there
        are any missing values.
    preproc_fn: A function that gets applied to df.
    max_n_cat: The maximum number of categories to break into dummy values, instead
        of integer codes.
    subset: Takes a random subset of size subset from df.
    mapper: If do_scale is set as True, the mapper variable
        calculates the values used for scaling of variables during training time (mean and standard deviation).
    Returns:
    --------
    [x, y, nas, mapper(optional)]:
        x: x is the transformed version of df. x will not have the response variable
            and is entirely numeric.
        y: y is the response variable
        nas: returns a dictionary of which nas it created, and the associated median.
        mapper: A DataFrameMapper which stores the mean and standard deviation of the corresponding continuous
        variables which is then used for scaling of during test-time.
    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    note the type of col2 is string
    >>> train_cats(df)
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    now the type of col2 is category { a : 1, b : 2}
    >>> x, y, nas = proc_df(df, 'col1')
    >>> x
       col2
    0     1
    1     2
    2     1
    >>> data = DataFrame(pet=["cat", "dog", "dog", "fish", "cat", "dog", "cat", "fish"],
                 children=[4., 6, 3, 3, 2, 3, 5, 4],
                 salary=[90, 24, 44, 27, 32, 59, 36, 27])
    >>> mapper = DataFrameMapper([(:pet, LabelBinarizer()),
                          ([:children], StandardScaler())])
    >>>round(fit_transform!(mapper, copy(data)), 2)
    8x4 Array{Float64,2}:
    1.0  0.0  0.0   0.21
    0.0  1.0  0.0   1.88
    0.0  1.0  0.0  -0.63
    0.0  0.0  1.0  -0.63
    1.0  0.0  0.0  -1.46
    0.0  1.0  0.0  -0.63
    1.0  0.0  0.0   1.04
    0.0  0.0  1.0   0.21
    """
    if not ignore_flds: ignore_flds=[]
    if not skip_flds: skip_flds=[]
    if subset: df = get_sample(df,subset)
    else: df = df.copy()
    ignored_flds = df.loc[:, ignore_flds]
    df.drop(ignore_flds, axis=1, inplace=True)
    if preproc_fn: preproc_fn(df)
    if y_fld is None: y = None
    else:
        if not is_numeric_dtype(df[y_fld]): df[y_fld] = pd.Categorical(df[y_fld]).codes
        y = df[y_fld].values
        skip_flds += [y_fld]
    df.drop(skip_flds, axis=1, inplace=True)

    if na_dict is None: na_dict = {}
    else: na_dict = na_dict.copy()
    na_dict_initial = na_dict.copy()
    for n,c in df.items(): na_dict = fix_missing(df, c, n, na_dict)
    if len(na_dict_initial.keys()) > 0:
        df.drop([a + '_na' for a in list(set(na_dict.keys()) - set(na_dict_initial.keys()))], axis=1, inplace=True)
    if do_scale: mapper = scale_vars(df, mapper)
    for n,c in df.items(): numericalize(df, c, n, max_n_cat)
    df = pd.get_dummies(df, dummy_na=True)
    df = pd.concat([ignored_flds, df], axis=1)
    res = [df, y, na_dict]
    if do_scale: res = res + [mapper]
    return res

def rf_feat_importance(m, df):
    return pd.DataFrame({'cols':df.columns, 'imp':m.feature_importances_}
                       ).sort_values('imp', ascending=False)

def set_rf_samples(n):
    """ Changes Scikit learn's random forests to give each tree a random sample of
    n random rows.
    """
    forest._generate_sample_indices = (lambda rs, n_samples:
        forest.check_random_state(rs).randint(0, n_samples, n))

def reset_rf_samples():
    """ Undoes the changes produced by set_rf_samples.
    """
    forest._generate_sample_indices = (lambda rs, n_samples:
        forest.check_random_state(rs).randint(0, n_samples, n_samples))

def get_nn_mappers(df, cat_vars, contin_vars):
    # Replace nulls with 0 for continuous, "" for categorical.
    for v in contin_vars: df[v] = df[v].fillna(df[v].max()+100,)
    for v in cat_vars: df[v].fillna('#NA#', inplace=True)

    # list of tuples, containing variable and instance of a transformer for that variable
    # for categoricals, use LabelEncoder to map to integers. For continuous, standardize
    cat_maps = [(o, LabelEncoder()) for o in cat_vars]
    contin_maps = [([o], StandardScaler()) for o in contin_vars]

def world():
    print("Hello, tarekj!")

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)

In [5]:
train_cats(df_raw)
df_raw.UsageBand

0            Low
1            Low
2           High
3           High
4         Medium
           ...
401120       NaN
401121       NaN
401122       NaN
401123       NaN
401124       NaN
Name: UsageBand, Length: 401125, dtype: category
Categories (3, object): ['High' < 'Low' < 'Medium']

In [6]:
#is_string_dtype(df_raw.ProductGroup)
#df_raw.UsageBand  
df_raw.UsageBand.cat.categories

Index(['High', 'Low', 'Medium'], dtype='object')

In [7]:
df_raw.UsageBand.cat.set_categories(['High', 'Medium', 'Low'], ordered=True, inplace=True)

<ipython-input-7-c4fe8a8743ff>:1: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df_raw.UsageBand.cat.set_categories(['High', 'Medium', 'Low'], ordered=True, inplace=True)

In [8]:
col_type=dict(df_raw.dtypes)
print(col_type)

{'SalesID': dtype('int64'), 'SalePrice': dtype('int64'), 'MachineID': dtype('int64'), 'ModelID': dtype('int64'), 'datasource': dtype('int64'), 'auctioneerID': dtype('float64'), 'YearMade': dtype('int64'), 'MachineHoursCurrentMeter': dtype('float64'), 'UsageBand': CategoricalDtype(categories=['High', 'Medium', 'Low'], ordered=True), 'saledate': dtype('<M8[ns]'), 'fiModelDesc': CategoricalDtype(categories=['100C', '104', '1066', '1066E', '1080', '1080B', '1088',
                  '1088CK', '1088LT', '1088TTL',
                  ...
                  'ZX600LC', 'ZX70', 'ZX75', 'ZX75US', 'ZX75USA', 'ZX80',
                  'ZX800', 'ZX800LC', 'ZX80LCK', 'ZX850H'],
, ordered=True), 'fiBaseModel': CategoricalDtype(categories=['10', '100', '104', '1066', '1080', '1088', '10DG', '11',
                  '110', '1105',
                  ...
                  'ZX370', 'ZX450', 'ZX460', 'ZX50', 'ZX600', 'ZX70', 'ZX75',
                  'ZX80', 'ZX800', 'ZX850'],
, ordered=True), 'fiSecondaryDesc': CategoricalDtype(categories=[' MSR SPIN ACE', '#NAME?', '-2', '-3', '-5', '-5L', '-6',
                  '-7', '0.7', '1',
                  ...
                  'XP', 'XT', 'Z', 'ZF', 'ZHS', 'ZHS G', 'ZT', 'ZTM', 'ZTS',
                  'ZX'],
, ordered=True), 'fiModelSeries': CategoricalDtype(categories=[' III', '#NAME?', '-1', '-1.50E+01', '-11', '-12', '-15',
                  '-16', '-17', '-18',
                  ...
                  'V-2', 'VHP', 'VI', 'WT', 'WX', 'XLT', 'XT', 'ZHS', 'ZTS',
                  'ZX'],
, ordered=True), 'fiModelDescriptor': CategoricalDtype(categories=[' 14FT', ' LGP', ' SUPER', ' XLT', ' XT', ' ZX',
                  '(BLADE RUNNER)', '1', '2', '2.00E+00',
                  ...
                  'XLVP', 'XP', 'XR', 'XT', 'XTV', 'XW', 'Y', 'Z', 'ZTS',
                  'ZX'],
, ordered=True), 'ProductSize': CategoricalDtype(categories=['Compact', 'Large', 'Large / Medium', 'Medium', 'Mini',
                  'Small'],
, ordered=True), 'fiProductClassDesc': CategoricalDtype(categories=['Backhoe Loader - 0.0 to 14.0 Ft Standard Digging Depth',
                  'Backhoe Loader - 14.0 to 15.0 Ft Standard Digging Depth',
                  'Backhoe Loader - 15.0 to 16.0 Ft Standard Digging Depth',
                  'Backhoe Loader - 16.0 + Ft Standard Digging Depth',
                  'Backhoe Loader - Unidentified',
                  'Hydraulic Excavator, Track - 0.0 to 2.0 Metric Tons',
                  'Hydraulic Excavator, Track - 11.0 to 12.0 Metric Tons',
                  'Hydraulic Excavator, Track - 12.0 to 14.0 Metric Tons',
                  'Hydraulic Excavator, Track - 14.0 to 16.0 Metric Tons',
                  'Hydraulic Excavator, Track - 150.0 to 300.0 Metric Tons',
                  'Hydraulic Excavator, Track - 16.0 to 19.0 Metric Tons',
                  'Hydraulic Excavator, Track - 19.0 to 21.0 Metric Tons',
                  'Hydraulic Excavator, Track - 2.0 to 3.0 Metric Tons',
                  'Hydraulic Excavator, Track - 21.0 to 24.0 Metric Tons',
                  'Hydraulic Excavator, Track - 24.0 to 28.0 Metric Tons',
                  'Hydraulic Excavator, Track - 28.0 to 33.0 Metric Tons',
                  'Hydraulic Excavator, Track - 3.0 to 4.0 Metric Tons',
                  'Hydraulic Excavator, Track - 300.0 + Metric Tons',
                  'Hydraulic Excavator, Track - 33.0 to 40.0 Metric Tons',
                  'Hydraulic Excavator, Track - 4.0 to 5.0 Metric Tons',
                  'Hydraulic Excavator, Track - 4.0 to 6.0 Metric Tons',
                  'Hydraulic Excavator, Track - 40.0 to 50.0 Metric Tons',
                  'Hydraulic Excavator, Track - 5.0 to 6.0 Metric Tons',
                  'Hydraulic Excavator, Track - 50.0 to 66.0 Metric Tons',
                  'Hydraulic Excavator, Track - 6.0 to 8.0 Metric Tons',
                  'Hydraulic Excavator, Track - 66.0 to 90.0 Metric Tons',
                  'Hydraulic Excavator, Track - 8.0 to 11.0 Metric Tons',
                  'Hydraulic Excavator, Track - 90.0 to 150.0 Metric Tons',
                  'Hydraulic Excavator, Track - Unidentified',
                  'Hydraulic Excavator, Track - Unidentified (Compact Construction)',
                  'Motorgrader - 130.0 to 145.0 Horsepower',
                  'Motorgrader - 145.0 to 170.0 Horsepower',
                  'Motorgrader - 170.0 to 200.0 Horsepower',
                  'Motorgrader - 200.0 + Horsepower',
                  'Motorgrader - 45.0 to 130.0 Horsepower',
                  'Motorgrader - Unidentified',
                  'Skid Steer Loader - 0.0 to 701.0 Lb Operating Capacity',
                  'Skid Steer Loader - 1251.0 to 1351.0 Lb Operating Capacity',
                  'Skid Steer Loader - 1351.0 to 1601.0 Lb Operating Capacity',
                  'Skid Steer Loader - 1601.0 to 1751.0 Lb Operating Capacity',
                  'Skid Steer Loader - 1751.0 to 2201.0 Lb Operating Capacity',
                  'Skid Steer Loader - 2201.0 to 2701.0 Lb Operating Capacity',
                  'Skid Steer Loader - 2701.0+ Lb Operating Capacity',
                  'Skid Steer Loader - 701.0 to 976.0 Lb Operating Capacity',
                  'Skid Steer Loader - 976.0 to 1251.0 Lb Operating Capacity',
                  'Skid Steer Loader - Unidentified',
                  'Track Type Tractor, Dozer - 105.0 to 130.0 Horsepower',
                  'Track Type Tractor, Dozer - 130.0 to 160.0 Horsepower',
                  'Track Type Tractor, Dozer - 160.0 to 190.0 Horsepower',
                  'Track Type Tractor, Dozer - 190.0 to 260.0 Horsepower',
                  'Track Type Tractor, Dozer - 20.0 to 75.0 Horsepower',
                  'Track Type Tractor, Dozer - 260.0 + Horsepower',
                  'Track Type Tractor, Dozer - 75.0 to 85.0 Horsepower',
                  'Track Type Tractor, Dozer - 85.0 to 105.0 Horsepower',
                  'Track Type Tractor, Dozer - Unidentified',
                  'Wheel Loader - 0.0 to 40.0 Horsepower',
                  'Wheel Loader - 100.0 to 110.0 Horsepower',
                  'Wheel Loader - 1000.0 + Horsepower',
                  'Wheel Loader - 110.0 to 120.0 Horsepower',
                  'Wheel Loader - 120.0 to 135.0 Horsepower',
                  'Wheel Loader - 135.0 to 150.0 Horsepower',
                  'Wheel Loader - 150.0 to 175.0 Horsepower',
                  'Wheel Loader - 175.0 to 200.0 Horsepower',
                  'Wheel Loader - 200.0 to 225.0 Horsepower',
                  'Wheel Loader - 225.0 to 250.0 Horsepower',
                  'Wheel Loader - 250.0 to 275.0 Horsepower',
                  'Wheel Loader - 275.0 to 350.0 Horsepower',
                  'Wheel Loader - 350.0 to 500.0 Horsepower',
                  'Wheel Loader - 40.0 to 60.0 Horsepower',
                  'Wheel Loader - 500.0 to 1000.0 Horsepower',
                  'Wheel Loader - 60.0 to 80.0 Horsepower',
                  'Wheel Loader - 80.0 to 90.0 Horsepower',
                  'Wheel Loader - 90.0 to 100.0 Horsepower',
                  'Wheel Loader - Unidentified'],
, ordered=True), 'state': CategoricalDtype(categories=['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
                  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
                  'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
                  'Kentucky', 'Louisiana', 'Maine', 'Maryland',
                  'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
                  'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
                  'New Jersey', 'New Mexico', 'New York', 'North Carolina',
                  'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
                  'Puerto Rico', 'Rhode Island', 'South Carolina',
                  'South Dakota', 'Tennessee', 'Texas', 'Unspecified', 'Utah',
                  'Vermont', 'Virginia', 'Washington', 'Washington DC',
                  'West Virginia', 'Wisconsin', 'Wyoming'],
, ordered=True), 'ProductGroup': CategoricalDtype(categories=['BL', 'MG', 'SSL', 'TEX', 'TTT', 'WL'], ordered=True), 'ProductGroupDesc': CategoricalDtype(categories=['Backhoe Loaders', 'Motor Graders', 'Skid Steer Loaders',
                  'Track Excavators', 'Track Type Tractors', 'Wheel Loader'],
, ordered=True), 'Drive_System': CategoricalDtype(categories=['All Wheel Drive', 'Four Wheel Drive', 'No',
                  'Two Wheel Drive'],
, ordered=True), 'Enclosure': CategoricalDtype(categories=['EROPS', 'EROPS AC', 'EROPS w AC', 'NO ROPS',
                  'None or Unspecified', 'OROPS'],
, ordered=True), 'Forks': CategoricalDtype(categories=['None or Unspecified', 'Yes'], ordered=True), 'Pad_Type': CategoricalDtype(categories=['Grouser', 'None or Unspecified', 'Reversible', 'Street'], ordered=True), 'Ride_Control': CategoricalDtype(categories=['No', 'None or Unspecified', 'Yes'], ordered=True), 'Stick': CategoricalDtype(categories=['Extended', 'Standard'], ordered=True), 'Transmission': CategoricalDtype(categories=['AutoShift', 'Autoshift', 'Direct Drive', 'Hydrostatic',
                  'None or Unspecified', 'Powershift', 'Powershuttle',
                  'Standard'],
, ordered=True), 'Turbocharged': CategoricalDtype(categories=['None or Unspecified', 'Yes'], ordered=True), 'Blade_Extension': CategoricalDtype(categories=['None or Unspecified', 'Yes'], ordered=True), 'Blade_Width': CategoricalDtype(categories=['12'', '13'', '14'', '16'', '<12'', 'None or Unspecified'], ordered=True), 'Enclosure_Type': CategoricalDtype(categories=['High Profile', 'Low Profile', 'None or Unspecified'], ordered=True), 'Engine_Horsepower': CategoricalDtype(categories=['No', 'Variable'], ordered=True), 'Hydraulics': CategoricalDtype(categories=['2 Valve', '3 Valve', '4 Valve', 'Auxiliary',
                  'Base + 1 Function', 'Base + 2 Function',
                  'Base + 3 Function', 'Base + 4 Function',
                  'Base + 5 Function', 'Base + 6 Function',
                  'None or Unspecified', 'Standard'],
, ordered=True), 'Pushblock': CategoricalDtype(categories=['None or Unspecified', 'Yes'], ordered=True), 'Ripper': CategoricalDtype(categories=['Multi Shank', 'None or Unspecified', 'Single Shank', 'Yes'], ordered=True), 'Scarifier': CategoricalDtype(categories=['None or Unspecified', 'Yes'], ordered=True), 'Tip_Control': CategoricalDtype(categories=['None or Unspecified', 'Sideshift & Tip', 'Tip'], ordered=True), 'Tire_Size': CategoricalDtype(categories=['10 inch', '10"', '13"', '14"', '15.5', '15.5"', '17.5',
                  '17.5"', '20.5', '20.5"', '23.1"', '23.5', '23.5"', '26.5',
                  '29.5', '7.0"', 'None or Unspecified'],
, ordered=True), 'Coupler': CategoricalDtype(categories=['Hydraulic', 'Manual', 'None or Unspecified'], ordered=True), 'Coupler_System': CategoricalDtype(categories=['None or Unspecified', 'Yes'], ordered=True), 'Grouser_Tracks': CategoricalDtype(categories=['None or Unspecified', 'Yes'], ordered=True), 'Hydraulics_Flow': CategoricalDtype(categories=['High Flow', 'None or Unspecified', 'Standard'], ordered=True), 'Track_Type': CategoricalDtype(categories=['Rubber', 'Steel'], ordered=True), 'Undercarriage_Pad_Width': CategoricalDtype(categories=['14 inch', '15 inch', '16 inch', '18 inch', '20 inch',
                  '22 inch', '24 inch', '25 inch', '26 inch', '27 inch',
                  '28 inch', '30 inch', '31 inch', '31.5 inch', '32 inch',
                  '33 inch', '34 inch', '36 inch', 'None or Unspecified'],
, ordered=True), 'Stick_Length': CategoricalDtype(categories=['10' 10"', '10' 2"', '10' 6"', '11' 0"', '11' 10"',
                  '12' 10"', '12' 4"', '12' 8"', '13' 10"', '13' 7"', '13' 9"',
                  '14' 1"', '15' 4"', '15' 9"', '19' 8"', '24' 3"', '6' 3"',
                  '7' 10"', '8' 10"', '8' 2"', '8' 4"', '8' 6"', '9' 10"',
                  '9' 2"', '9' 5"', '9' 6"', '9' 7"', '9' 8"',
                  'None or Unspecified'],
, ordered=True), 'Thumb': CategoricalDtype(categories=['Hydraulic', 'Manual', 'None or Unspecified'], ordered=True), 'Pattern_Changer': CategoricalDtype(categories=['No', 'None or Unspecified', 'Yes'], ordered=True), 'Grouser_Type': CategoricalDtype(categories=['Double', 'Single', 'Triple'], ordered=True), 'Backhoe_Mounting': CategoricalDtype(categories=['None or Unspecified', 'Yes'], ordered=True), 'Blade_Type': CategoricalDtype(categories=['Angle', 'Coal', 'Landfill', 'No', 'None or Unspecified',
                  'PAT', 'Semi U', 'Straight', 'U', 'VPAT'],
, ordered=True), 'Travel_Controls': CategoricalDtype(categories=['1 Speed', '2 Pedal', 'Differential Steer', 'Finger Tip',
                  'Lever', 'None or Unspecified', 'Pedal'],
, ordered=True), 'Differential_Type': CategoricalDtype(categories=['Limited Slip', 'Locking', 'No Spin', 'Standard'], ordered=True), 'Steering_Controls': CategoricalDtype(categories=['Command Control', 'Conventional', 'Four Wheel Standard',
                  'No', 'Wheel'],
, ordered=True)}

In [9]:



#from fastai.torch_core import*

from fastai.tabular.all import*

In [10]:
add_datepart(df_raw, 'saledate',drop=False, time=False)

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,saleDay,saleDayofweek,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,2006-11-16,...,16,3,320,False,False,False,False,False,False,1.163635e+09
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,2004-03-26,...,26,4,86,False,False,False,False,False,False,1.080259e+09
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2004-02-26,...,26,3,57,False,False,False,False,False,False,1.077754e+09
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,2011-05-19,...,19,3,139,False,False,False,False,False,False,1.305763e+09
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,2009-07-23,...,23,3,204,False,False,False,False,False,False,1.248307e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401120,6333336,10500,1840702,21439,149,1.0,2005,NaN,NaN,2011-11-02,...,2,2,306,False,False,False,False,False,False,1.320192e+09
401121,6333337,11000,1830472,21439,149,1.0,2005,NaN,NaN,2011-11-02,...,2,2,306,False,False,False,False,False,False,1.320192e+09
401122,6333338,11500,1887659,21439,149,1.0,2005,NaN,NaN,2011-11-02,...,2,2,306,False,False,False,False,False,False,1.320192e+09
401123,6333341,9000,1903570,21435,149,2.0,2005,NaN,NaN,2011-10-25,...,25,1,298,False,False,False,False,False,False,1.319501e+09
401124,6333342,7750,1926965,21435,149,2.0,2005,NaN,NaN,2011-10-25,...,25,1,298,False,False,False,False,False,False,1.319501e+09

In [13]:
df_raw.saleYear.head()

0    2006
1    2004
2    2004
3    2011
4    2009
Name: saleYear, dtype: int64

In [20]:
import os
os.makedirs('tmp', exist_ok=True)
df_raw.to_feather('tmp/bulldozers-raw')

In [22]:

df_raw = pd.read_feather('tmp/bulldozers-raw')

In [21]:
from IPython.display import display

def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)
display_all(df_raw.isnull().sum().sort_index())

Backhoe_Mounting            322453
Blade_Extension             375906
Blade_Type                  321292
Blade_Width                 375906
Coupler                     187173
Coupler_System              357667
Differential_Type           331714
Drive_System                296764
Enclosure                      325
Enclosure_Type              375906
Engine_Horsepower           375906
Forks                       209048
Grouser_Tracks              357763
Grouser_Type                301972
Hydraulics                   80555
Hydraulics_Flow             357763
MachineHoursCurrentMeter    258360
MachineID                        0
ModelID                          0
Pad_Type                    321991
Pattern_Changer             301907
ProductGroup                     0
ProductGroupDesc                 0
ProductSize                 210775
Pushblock                   375906
Ride_Control                252519
Ripper                      296988
SalePrice                        0
SalesID                          0
Scarifier                   375895
Steering_Controls           331756
Stick                       321991
Stick_Length                301907
Thumb                       301837
Tip_Control                 375906
Tire_Size                   306407
Track_Type                  301972
Transmission                217895
Travel_Controls             321291
Turbocharged                321991
Undercarriage_Pad_Width     301253
UsageBand                   331486
YearMade                         0
auctioneerID                 20136
datasource                       0
fiBaseModel                      0
fiModelDesc                      0
fiModelDescriptor           329206
fiModelSeries               344217
fiProductClassDesc               0
fiSecondaryDesc             137191
saleDay                          0
saleDayofweek                    0
saleDayofyear                    0
saleElapsed                      0
saleIs_month_end                 0
saleIs_month_start               0
saleIs_quarter_end               0
saleIs_quarter_start             0
saleIs_year_end                  0
saleIs_year_start                0
saleMonth                        0
saleWeek                         0
saleYear                         0
saledate                         0
state                            0
dtype: int64

In [11]:

df, y, nas = proc_df(df_raw, 'SalePrice')

In [12]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

m = RandomForestRegressor(n_jobs=-1)
m.fit(df, y)
m.score(df,y)

0.9878597546249386